@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'BebasKai';
    src: url('/fonts/BebasKai.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'LexendMega';
    src: url('/fonts/LexendMega.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}