---
import Header from "@components/Header.astro";
import GoodsProduct from "@components/home/GoodsProduct.astro";
import HomeDecorations from "@components/home/HomeDecorations.astro";
import InfoContent from "@components/home/InfoContent.astro";
import Marquee from "@components/Marquee.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
	<main class="h-full lg:py-20">
		<section
			class="relative flex flex-col lg:max-w-4xl 2xl:max-w-[1420px] h-full mx-auto lg:border-black lg:border-2 lg:rounded-2xl bigger-shadow"
		>
			<Header />

			<section class="grid lg:grid-rows-[3fr_1fr] h-full">
				<HomeDecorations />
				<section
					class="relative flex flex-col h-full w-full bg-white pb-10 gap-10 border-b-2 border-black"
				>
					<Marquee />
					<InfoContent />
				</section>

				<GoodsProduct />
			</section>
		</section>
	</main>
</Layout>
