---
import Button from "./Button.astro";

interface Props {
    title: string;
    data: any[];
}

const { title, data } = Astro.props;
---

<div
    class="flex flex-col justify-between w-auto max-h-[553px] rounded-xl p-5 gap-6 bg-white border-2 border-black"
>
    <span
        class="ml-2 text-left text-2xl font-extrabold font-LexendMega text-blue-800"
        >{title}</span
    >

    <section class="overflow-y-auto">
        <table
            class="table-auto [&>thead>tr>th]:px-4 [&>tbody>tr>td]:px-4 [&>tbody>tr>td]:text-center"
        >
            <thead
                class="h-10 sticky top-0 transition-all bg-white border-b-2 border-gray-300"
            >
                <tr>
                    <th class="rounded-l-xl">Comprador</th>
                    <th>Venta</th>
                    <th>Producto</th>
                    <th class="rounded-r-xl">Ganancia</th>
                </tr>
            </thead>
            <tbody class="-z-10">
                {
                    data.map((item) => (
                        <tr class="h-7 border-b-2 border-gray-200">
                            <td>{item.client}</td>
                            <td>{item.price}</td>
                            <td>{item.product}</td>
                            <td>{item.price - item.cost}</td>
                        </tr>
                    ))
                }
            </tbody>
        </table>
    </section>
    <Button text="nueva venta" color="blue" />
</div>
