---
import Button from "@components/Button.astro";
---

<header class="flex justify-between items-center px-4 py-3">
    <h2 class="text-5xl font-BebasKai">GAB</h2>
    <Button text="Iniciar Sesión" color="" url="/auth"/>
</header>
