<h1
    class="flex flex-col px-5 mt-32 lg:px-10 lg:mt-36 w-full text-8xl font-bold  font-LexendMega -tracking-widest"
>
    <div class="absolute top-0 left-0 w-full py-1 overflow-hidden bg-black">
        <div class="text-white animate-sm_marquee lg:animate-marquee whitespace-nowrap">
            {"Vende. Cobra. Crece. ".repeat(3)}
        </div>
    </div>
    <span class="text-3xl -tracking-widest lg:text-8xl lg:-tracking-widest">Sin complicaciones.</span>
</h1>
